<!-- jQuery 3 -->
<script src="{{ asset ('js/jquery.js') }}"></script>
<!-- Annimation texte -->
<script src="{{ asset ('js/anime.min.js') }}"></script>
<!-- Jquery Confirme-->
<script src="{{asset ('js/jquery.confirmModal.js') }}"></script>
<!-- Jquery Confirme-->
<script src="{{asset ('js/jquery-confirm.js') }}"></script>
<script src="{{asset ('js/bootstrap.js') }}"></script>
<script src="{{asset ('js/popper.js') }}"></script>

<script>
var textWrapper = document.querySelector('.ml3');
textWrapper.innerHTML = textWrapper.textContent.replace(/\S/g, "<span class='letter'>$&</span>");
anime.timeline({loop: true})
  .add({
    targets: '.ml3 .letter',
    opacity: [0,1],
    easing: "easeInOutQuad",
    duration: 2250,
    delay: (el, i) => 120 * (i+1)
  }).add({
    targets: '.ml3',
    opacity: 0,
    duration: 50,
    easing: "easeOutExpo",
    delay: 300
  });
</script>