<!DOCTYPE html>
<html>
  <head>
   <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}Articles{% endblock %}</title>
    <link rel="shortcut icon" type="image/x-icon" href="tonimageici.jpg" />
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
      {% block stylesheets %}{% endblock %}
    <!-- Bootstrap 4.3 -->
    <link rel="stylesheet" href="{{ asset('/css/bootstrap.css') }}">
    <!-- Toastr -->
    <link rel="stylesheet" href="{{ asset('/css/toastr.css') }}">
    <link rel="stylesheet" href="{{ asset('/css/toastr.min.css') }}">
    <!-- animation text -->
    <link rel="stylesheet" href="{{ asset('/css/blog.css') }}">
    <style>

body{margin-top:20px;}
/* Style animation texte */
.ml3 {
  font-weight: 900;
  font-size: 3.5em;
}

.section {
    padding: 100px 0;
    position: relative;
}

/* Blog 
---------------------*/
.blog-grid {
  margin-top: 15px;
  margin-bottom: 15px;

}
.blog-grid .blog-img {
  position: relative;
  border-radius: 5px;
  overflow: hidden;
}
.blog-grid .blog-img .date {
  position: absolute;
  color: #ffffff;
  padding: 8px 15px;
  left: 0;
  top: 10px;
  font-size: 14px;
}
.blog-grid .blog-info {
  box-shadow: 0 0 10px rgb(255,140,0);
  border-radius: 5px;
  background: #fff;
  padding: 20px;
  margin: -30px 20px 0;
  position: relative;
  max-width: 95%;
  min-width:95%;
  max-height:25%;
  min-height:25%;
}

.blog-grid .blog-form {
  box-shadow: 0 0 10px rgb(255,140,0);
  border-radius: 5px;
  background: #fff;
  padding: 20px;
  margin: -30px 20px 0;
  position: relative;
}
.blog-grid .blog-info h5 {
  font-size: 22px;
  font-weight: 500;
  margin: 0 0 10px;
}
.blog-grid .blog-info h3 {
  font-size: 22px;
  font-weight: 500;
  margin: 0 0 10px;
  text-align:center;
}
.blog-grid .blog-info h5 a {
  color: #4682b4;
}
.blog-grid .blog-info p {
  margin: 0;
}
.blog-grid .blog-info .btn-bar {
  margin-top: 20px;
}

.px-btn-arrow {
    padding: 0 50px 0 0;
    line-height: 20px;
    position: relative;
    display: inline-block;
    color: #fe4f6c;
    -moz-transition: ease all 0.3s;
    -o-transition: ease all 0.3s;
    -webkit-transition: ease all 0.3s;
    transition: ease all 0.3s;
}


.px-btn-arrow .arrow {
    width: 13px;
    height: 2px;
    background: currentColor;
    display: inline-block;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    right: 25px;
    -moz-transition: ease right 0.3s;
    -o-transition: ease right 0.3s;
    -webkit-transition: ease right 0.3s;
    transition: ease right 0.3s;
}

.px-btn-arrow .arrow:after {
    width: 8px;
    height: 8px;
    border-right: 2px solid currentColor;
    border-top: 2px solid currentColor;
    content: "";
    position: absolute;
    top: -3px;
    right: 0;
    display: inline-block;
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
</style>
 </head>
    <body>
 {% block body %}{% endblock %}
 {% block javascripts %}{% endblock %}
        <!-- jQuery 3 -->
<script src="{{ asset ('js/jquery.js') }}"></script>
<!-- Annimation texte -->
<script src="{{ asset ('js/anime.min.js') }}"></script>
<!-- Jquery Confirme-->
<script src="{{asset ('js/jquery.confirmModal.js') }}"></script>
<!-- Jquery Confirme-->
<script src="{{asset ('js/jquery-confirm.js') }}"></script>
<script src="{{asset ('js/bootstrap.js') }}"></script>
<script src="{{asset ('js/popper.js') }}"></script>

<script>
var textWrapper = document.querySelector('.ml3');
textWrapper.innerHTML = textWrapper.textContent.replace(/\S/g, "<span class='letter'>$&</span>");
anime.timeline({loop: true})
  .add({
    targets: '.ml3 .letter',
    opacity: [0,1],
    easing: "easeInOutQuad",
    duration: 2250,
    delay: (el, i) => 120 * (i+1)
  }).add({
    targets: '.ml3',
    opacity: 0,
    duration: 50,
    easing: "easeOutExpo",
    delay: 300
  });
</script>
    </body>
</html>
